In [1]:
import pandas as pd
import requests
from pandas import json_normalize 
import numpy as np
from math import radians, cos, sin, asin, sqrt
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import re
import warnings
import geopandas as gpd
from shapely.geometry import Point, Polygon
import folium
from folium.plugins import MarkerCluster
import os
from pathlib import Path
from leads.data import get_save_data
from leads.leads import Leads
from leads.utils import get_postcode

# Fetch the data from website

it will get any city data from website "http://ratings.food.gov.uk/search/" and save as "UKFoodAgencycity.csv"

In [2]:
#get_save_data('London')

# Get Uber data

In [3]:
uber_london=pd.read_csv("../london-food-delivery/ubereats.csv")

In [4]:
uber_london['postcode']=uber_london['address'].apply(get_postcode)
uber_london['latlon']=uber_london.apply(
    lambda row: str(round(row['latitude'],4))+str(round(row['longitude'],4)), 
    axis=1)

# Instanciate class Leads of London:

We want to load and manipulate the london restaurants data fetched on step1. For this, we will use the class Leads we build in python.

First command is to create the object london, which belongs to a class of leads. 

The leads class has many methods, like load data, clean data,merge, get chains..etc.

We can always build in the method according to our needs.

Our object has many properties as well. Like: <br>
  - self.df: the full list of restaurants from the object
  - self.in_common: all the restaurants in common to Uber Eats
  - self.not_uber:  all the restaurants that are NOT in Uber Eats
  
Same as methods, we can always build more properties to our objects.

In [5]:
london=Leads('London')
london.load_data()
london.clean_data()
london.merge_df(uber_london)

In [6]:
london.gross_leads()

Now that we applied many methods to the object london, we can access its properties. <br> These objects will be modified depending on which methods we call. 

**london.df<br>
  london.in_common<br>
  london.not_uber** <br>

In [7]:
london.df
london.in_common
london.not_uber

,FHRSID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,postcode,...,Scores.ConfidenceInManagement,longitude,latitude,Distance.@xsi:nil,Scores.Hygiene.@xsi:nil,Scores.Structural.@xsi:nil,Scores.ConfidenceInManagement.@xsi:nil,Geocode.Longitude.@xsi:nil,Geocode.Latitude.@xsi:nil,latlon
0,468824,1317,"""Rio Cinema""",Restaurant/Cafe/Canteen,1,Rio Cinema Dalston,103-107 Kingsland High Street,London,NaN,E8 2PB,...,5.0,-0.075568,51.549538,True,NaN,NaN,NaN,NaN,NaN,51.5495-0.0756
1,1177669,19/00376/COMM,% Arabica,Takeaway/sandwich shop,7844,Basement And Ground Floor,5 King Street,Covent Garden,London,WC2E 8HN,...,10.0,-0.124021,51.511703,True,NaN,NaN,NaN,NaN,NaN,51.5117-0.124
2,1220366,191074,% Arabica,Manufacturers/packers,7839,Railway Arch 214,Ponsford Street,Hackney,London,E9 6JU,...,5.0,-0.048531,51.547348,True,NaN,NaN,NaN,NaN,NaN,51.5473-0.0485
3,1225476,130435,%Arabica,Other catering premises,7841,Basement To Ground Floor,33 Broadway Market,Hackney,London,E8 4PH,...,5.0,-0.062051,51.536510,True,NaN,NaN,NaN,NaN,NaN,51.5365-0.0621
4,463541,PI/000187321,( Pitches 46 & 47 & 48)Jean Hogg,Retailers - other,4613,Lewisham Market,Lewisham High Street,Hither Green,London,SE13 6JG,...,5.0,-0.010786,51.461987,True,NaN,NaN,NaN,NaN,NaN,51.462-0.0108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43825,413469,01209/2004/2/002,Zoological Society London,Restaurant/Cafe/Canteen,1,London Zoo,Outer Circle,Regents Park,London,NW1 4RY,...,0.0,-0.155745,51.535728,True,NaN,NaN,NaN,NaN,NaN,51.5357-0.1557
43826,1021698,92007,"Zooteek Limited (units 310, 407 & 416)",Distributors/Transporters,7,214 Acton Lane,London,NaN,NaN,NW10 7NH,...,5.0,-0.262566,51.533314,True,NaN,NaN,NaN,NaN,NaN,51.5333-0.2626
43827,1001020,2017/00228/COMB,Zorba Confectionery,Retailers - other,4613,Kiosk 1010A,Westfield London Shopping Centre,Ariel Way,London,NaN,...,0.0,NaN,NaN,True,NaN,NaN,NaN,True,True,nannan
43828,1241921,20/00165/FOOD,Zorbas Greek Taverna,Restaurant/Cafe/Canteen,1,38 West Ham Lane,Stratford,London,NaN,E15 4PT,...,10.0,0.005601,51.537552,True,NaN,NaN,NaN,NaN,NaN,51.53760.0056
43829,316545,PI/000054146,Zourtos Butchers,Retailers - other,4613,113 Green Lanes,LONDON,NaN,NaN,N13 4SP,...,5.0,-0.109851,51.611515,True,NaN,NaN,NaN,NaN,NaN,51.6115-0.1099

# Narrowing down the leads list

We have built many methods for narrowing down the leads list.
All of them are independent. Meaning you could run just one, or two or three in a chain. Regardless of the order.

Some methods:
    
    top Categories: it takes the top categories with most reviews in Uber eats and filter UK restaurants that match those categories.
    get_chains: it selects restaurants in UK which have a number of outlets above a criteria.
    nearby: it selects restaurants which are close to Uber Eats restaurants(distance defined by the user)

In [8]:
out1,out2=london.get_chains(4)

In [9]:
london.top_categories(uber_df=uber_london,group_col='merchant_category',sum_col='reviews_count',threshold_=80)

In [10]:
london.nearby(uber_df=uber_london,min_dist=1)

/home/louisedantas/code/LouiseDantas/london-food-delivery/leads/leads.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['nearby_uber']=test.apply(lambda row: match_restaurant(uber_df,row['latitude'], row['longitude'],min_dist), axis=1)
/home/louisedantas/code/LouiseDantas/london-food-delivery/leads/leads.py:65: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  test['Uber_closest_rest'], test['distance_km'] = test['nearby_uber'].str

,FHRSID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,postcode,...,latitude,Distance.@xsi:nil,Scores.Hygiene.@xsi:nil,Scores.Structural.@xsi:nil,Scores.ConfidenceInManagement.@xsi:nil,Geocode.Longitude.@xsi:nil,Geocode.Latitude.@xsi:nil,latlon,Uber_closest_rest,distance_km
629,1425783,PI/000162323,Admiral,Retailers - other,4613,Shop,513 Green Lanes,Hornsey,London,N4 1AN,...,51.581600,True,NaN,NaN,NaN,NaN,NaN,51.5816-0.0999,Japanese restaurant Kata kitchens @ Brouhaha b...,0.055732
630,1081580,PI/000139926,Admiral,Other catering premises,7841,9 High Road,Wood Green,London,NaN,N22 6BH,...,51.591114,True,NaN,NaN,NaN,NaN,NaN,51.5911-0.1045,Takeout Restaurant Subway,0.027931
633,416626,PI/000094412,Admiral,Restaurant/Cafe/Canteen,1,Admiral,3 Seven Sisters Road,Islington,London,N7 6AJ,...,51.558163,True,True,True,True,NaN,NaN,51.5582-0.1192,Takeout Restaurant McDonald's Seven Sisters - ...,0.028273
634,858397,2016/00061/COMB,Admiral,Retailers - other,4613,97 - 99 King Street,London,NaN,NaN,W6 9JG,...,51.492382,True,True,True,True,NaN,NaN,51.4924-0.2302,Restaurant True Grill House,0.811626
636,1177217,PI/000135030,Admiral Casino,Retailers - other,4613,Shop,475 High Road,Tottenham,London,N17 6QA,...,51.593033,True,NaN,NaN,NaN,NaN,NaN,51.593-0.07,Chinese restaurant Mimi Chinese Restaurant & T...,0.017510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43807,1277610,INSPF/20/265160,Zizzi,Restaurant/Cafe/Canteen,1,Basement And Ground Floor,194-196 Earl's Court Road,LONDON,NaN,SW5 9QF,...,51.492622,True,NaN,NaN,NaN,NaN,NaN,51.4926-0.1942,Coco di Mama Delivery Kitchen - 194-196,0.014885
43810,294830,PI/000018611,Zizzi,Restaurant/Cafe/Canteen,1,16 Upper Cheapside Passage,London,NaN,NaN,EC2V 6AG,...,51.514023,True,NaN,NaN,NaN,NaN,NaN,51.514-0.095,"Zizzi - Unit SU46, One New Change",0.037525
43811,428139,01576/0073/0/002,Zizzi,Restaurant/Cafe/Canteen,1,73-75 Strand,London,NaN,NaN,WC2R 0DE,...,51.509972,True,NaN,NaN,NaN,NaN,NaN,51.51-0.1221,Delivery Restaurant Coco di Mama Delivery Kitchen,0.028495
43812,428193,06/00048/COMM,Zizzi,Restaurant/Cafe/Canteen,1,15 Cardinal Walk,London,NaN,NaN,SW1E 5JE,...,51.497433,True,NaN,NaN,NaN,NaN,NaN,51.4974-0.1416,Browns Victoria - 2 Cardinal Walk,0.036763
43814,86257,22,Zizzi,Restaurant/Cafe/Canteen,1,Unit 12 Ivory House,East Smithfield,London,NaN,E1W 1AT,...,51.507202,True,NaN,NaN,NaN,NaN,NaN,51.5072-0.0718,Restaurant Zizzi,0.012632

# Try The Fork API

In [ ]:
city='london'
url = "http://ratings.food.gov.uk/search/^/%s/1/30/json"%city
response = requests.get(url).json()
page_count=int(response['FHRSEstablishment']['Header']['PageCount'])
df=json_normalize(response['FHRSEstablishment']['EstablishmentCollection']['EstablishmentDetail'])
for page in range(1,page_count):
    url = f"http://ratings.food.gov.uk/search/^/{city}/{page}/30/json"
    response = requests.get(url).json()
    df_iter = json_normalize(response['FHRSEstablishment']['EstablishmentCollection']['EstablishmentDetail'])
    df=pd.concat([df, df_iter], axis= 0)